/* Footer.module.css
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

.footernav {
    display: flex;
}

.footernavList {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footernavItem a {
    color: #fff;
    text-decoration: none;
} */

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Tema Claro */
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: #ffffff;
      --text-color: #000000;
    }
  }
  
  /* Tema Escuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #333333;
      --text-color: #ffffff;
    }
  }
  